@charset "utf-8";

/* 본문영역
 ------------------------------------ */
 #content {
    width:300px;
    margin:0 auto 15px;
    font-size:.8em;
    line-height:150%;

}

/* 본문영역 > 소제목
 ------------------------------------ */
#content h2 {
    height:90px;
    margin-top:15px;
    background:url(../img/top_ca1.jpg) no-repeat;
    text-indent:-10000px;
}

/* 본문영역 > 갤러리
 ------------------------------------ */
#content ul li {
    float:left;
    width:33.3%;
}
#content ul:after {
    content:'';
    display:block;
    float:none;
    clear:both;
}
#content ul li a {
    display:block;
    width:auto;
    padding:5px;
}
#content ul li a img {
    width:100%;
}