@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/* 전체 공통 내용 
 ------------------------------------ */
* {
    font-family:"Nanum Gothic", "맑은고딕", "굴림", "Helvetica";
}
a {
    color:#222;
    text-decoration:none;
}
hr {
    display:none;
}

/* 하단 공통 footer
 ------------------------------------ */
#footer {
    position:relative;
    width:318px;
    padding-bottom:30px;
    margin:auto;
    text-align:center;
}

/* 하단 공통 footer > 카피라이트
 ------------------------------------ */
#footer address {
    width:auto;
    height:59px;
    background:url(../img/bottom_bg.png) center center no-repeat;
    text-indent:-10000px;
}

/* 하단 공통 footer > 센터소개 버튼
 ------------------------------------ */
#footer span {
    position:absolute;
    top:20px;
    left:12px;
}

/* 하단 공통 footer > SNS버튼
 ------------------------------------ */
#footer li {
    display:inline-block;
    padding:0 3px;
}