@charset "utf-8";

/* 배경
 ------------------------------------ */
body {
    background:#46464d url(../img/top_bg2.png) repeat-x;
}

/* 상단 타이틀
 ------------------------------------ */
#header {
    width:318px;
    margin:0 auto 15px;
    text-align:center;
}

/* 상단 타이틀 > 제목(로고)
 ------------------------------------ */
#header h1 {
    width:auto;
    height:85px;
    margin-bottom:15px;
    background:url(../img/top_bg.png) no-repeat;
    text-indent:-10000px;
}

/* 상단 타이틀 > 버튼용 li
 ------------------------------------ */
#header li {
    display:inline;
    padding:0 3px;
}

/* 내용(메인메뉴)
 ------------------------------------ */
#content {
    width:auto;
    height:184px;
    background:url(../img/list_bg.png) repeat;
}

/* 내용(메인메뉴) > 목록박스
 ------------------------------------ */
#content ul {
    width:auto;
    height:184px;
    background:url(../img/menu.png) no-repeat;
}

/* 내용(메인메뉴) > 목록박스 > 각 항목<li>
 ------------------------------------ */
#content ul li {
    width:auto;
    height:46px;
    background:url(../img/list_right.png) right center no-repeat;
}

/* 내용(메인메뉴) > 목록박스 > 각 항목<li> > 링크
 ------------------------------------ */
#content ul li a {
    display:block;
    width:auto;
    height:45px;
    text-indent:-10000px;
    cursor:pointer; /** for FireFox */
}