@import "./colors.scss";
@import "./common.scss";

.my-scss {
    padding: 5px;
    margin: auto;               // .my-scss라는 클래스에 대한 css 속성
    border: 5px dotted #d5d5d5;

    /*
    & --> 상위요소와 같이 적용.
    &.one {	// .my-scss.on --> <? class="my-scss one">
        ..
    }
    */
    
    &:after {                   // .my-scss:after
        content: '';
        display: block;
        float: none;
        clear: both;
    }

    .my-scss-box {              // .my-scss .my-scss-box
        float: left;
        cursor: pointer;

        // .red 클래스가 my-scss-box와 함께 사용 되었을 때
        // -> .my-scss .my-scss-box.red
        // @include 함수를 호출
        &.red   {background-color:$red;     @include myMixin(1);}
        &.green {background-color:$green;   @include myMixin(2);}
        &.blue  {background-color:$blue;    @include myMixin(3);}
        &.orange{background-color:$orange;  @include myMixin(4);}
        &.yellow{background-color:$yellow;  @include myMixin(5);}
        &.pink  {background-color:$pink;    @include myMixin(6);}
    }
}